<script src="{{url_for('static', filename='js/sorttable.js')}}"></script>
<script>
    setInterval(function () {
        var datestring = $('#gameinfo').data().datestring;
        var gamestring = $('#gameinfo').data().gamestring;
        // AJAX send request
        $.ajax({
            url: "https://data.nba.net/prod/v1/" + datestring + "/" + gamestring + "_boxscore.json",
            type: "GET",
            dataType: "json",
            success: function (data) {

                    $.each(data.stats.activePlayers, function (key, value) {
                        var playerRow = document.getElementById(value.personId);
                        for (var i = 0, cell; cell = playerRow.cells[i]; i++) {
                            if(cell.className != "" && cell.innerHTML != value[cell.className]){
                                cell.innerHTML = value[cell.className];
                            }
                        }                               
                    });

                    var teamLine = document.getElementById(data.basicGameData.vTeam.teamId+"-total");
                    for (var i = 0, cell; cell = teamLine.cells[i]; i++) {
                        var attr = cell.className
                        if(attr != "" && data.stats.vTeam.totals[attr] != cell.innerHTML){
                            cell.innerHTML = data.stats.vTeam.totals[attr]
                        }
                    }  
                
                    var teamLine = document.getElementById(data.basicGameData.hTeam.teamId+"-total");
                    for (var i = 0, cell; cell = teamLine.cells[i]; i++) {
                        var attr = cell.className
                        if(attr != "" && data.stats.hTeam.totals[attr] != cell.innerHTML){
                            cell.innerHTML = data.stats.hTeam.totals[attr]
                        }
                    }  

                    var teamLine = document.getElementById(data.basicGameData.vTeam.teamId);
                    $.each(data.basicGameData.vTeam.linescore, function (key, value) {
                        if(value.score == teamLine.cells[key+1].innerHTML){
                            teamLine.cells[key+1].innerHTML = value.score
                        }            
                    });

                    if (teamLine.cells[teamLine.cells.length-1].innerHTML != data.basicGameData.vTeam.score){
                        teamLine.cells[teamLine.cells.length-1].innerHTML = data.basicGameData.vTeam.score
                    }
                    
                    var teamLine = document.getElementById(data.basicGameData.hTeam.teamId);
                    $.each(data.basicGameData.hTeam.linescore, function (key, value) {
                        if(value.score == teamLine.cells[key+1].innerHTML){
                            teamLine.cells[key+1].innerHTML = value.score
                        }           
                    });

                    if (teamLine.cells[teamLine.cells.length-1].innerHTML != data.basicGameData.hTeam.score){
                        teamLine.cells[teamLine.cells.length-1].innerHTML = data.basicGameData.hTeam.score
                    }
                    
                    //console.log(game)

                
            },
            error: function (request, error) { }
        });
    }, 3000);  // check about changes every 30 seconds
</script>

<h1>{% block title %} {{visitor}} @ {{home}} Box Score {{datestring[-4:-2]}}-{{datestring[-2:]}}-{{datestring[:4]}}
    {% endblock %}</h1>


<body>
    
    <meta id="gameinfo" data-datestring="{{datestring}}" data-gamestring="{{gamestring}}">
    {% extends 'base.html' %}
    {% block content %}
    <a href="{{ '/'+datestring }}">Home</a>
    <a href="{{ '/%s/%s'%(datestring, gamestring) }}">Play-by-Play </a>
    
    <table class="linescore">
        <tr>
            <th>Team</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
            <th>Q4</th>
            <th>Total</th>
        </tr>
        <tr id='{{vID}}'>
            <td>{{visitor}}</td>
            {% for item in gameData["vTeam"]["linescore"] %}
                <td>{{item["score"]}}</td>
            {% endfor %}
            <td style="font-weight:bold">{{gameData["vTeam"]["score"]}}</td>
        </tr>
        <tr id='{{hID}}'>  
            <td>{{home}}</td>
            {% for item in gameData["hTeam"]["linescore"] %}
                <td>{{item["score"]}}</td>
            {% endfor %}
            <td style="font-weight:bold">{{gameData["hTeam"]["score"]}}</td>
        </tr>
    </table>
    
    <table class="box" class="sortable">
        <tr>
            <th>Name</th>
            <th class="sorttable_nosort">MIN</th>
            <th>PTS</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>REB</th>
            <th>DREB</th>
            <th>OREB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>FOULS</th>
            <th>TO</th>
            <th>+/-</th>
        </tr>
        {% for item in  stats["activePlayers"] %}

        {% if item["teamId"] == vID %}
        <tr id='{{item["personId"]}}'>
            <td> {{item["firstName"]}} {{item["lastName"]}}</td>
            <td class="min" style='text-align:center'>{{item["min"]}}</td>
            <td class="points" style='text-align:center'>{{item["points"]}}</td>
            <td class="fgm" style='text-align:center'>{{item["fgm"]}}</td>
            <td class="fga" style='text-align:center'>{{item["fga"]}}</td>
            <td class="fgp" style='text-align:center'>{{item["fgp"]}}</td>
            <td class="tpm" style='text-align:center'>{{item["tpm"]}}</td>
            <td class="tpa" style='text-align:center'>{{item["tpa"]}}</td>
            <td class="tpp" style='text-align:center'>{{item["tpp"]}}</td>
            <td class="totReb" style='text-align:center'>{{item["totReb"]}}</td>
            <td class="defReb" style='text-align:center'>{{item["defReb"]}}</td>
            <td class="offReb" style='text-align:center'>{{item["offReb"]}}</td>
            <td class="assists" style='text-align:center'>{{item["assists"]}}</td>
            <td class="steals" style='text-align:center'>{{item["steals"]}}</td>
            <td class="blocks" style='text-align:center'>{{item["blocks"]}}</td>
            <td class="pFouls" style='text-align:center'>{{item["pFouls"]}}</td>
            <td class="turnovers" style='text-align:center'>{{item["turnovers"]}}</td>
            <td class="plusMinus" style='text-align:center'>{{item["plusMinus"]}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        
        <tr id='{{vID}}-total'>
            <td style='font-weight:bold'>Totals</td>
            <td></td>
            <td class="points" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["points"]}}</td>
            <td class="fgm" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["fgm"]}}</td>
            <td class="fga" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["fga"]}}</td>
            <td class="fgp" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["fgp"]}}</td>
            <td class="tpm" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["tpm"]}}</td>
            <td class="tpa" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["tpa"]}}</td>
            <td class="tpp" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["tpp"]}}</td>
            <td class="totReb" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["totReb"]}}</td>
            <td class="defReb" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["defReb"]}}</td>
            <td class="offReb" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["offReb"]}}</td>
            <td class="assists" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["assists"]}}</td>
            <td class="steals" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["steals"]}}</td>
            <td class="blocks" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["blocks"]}}</td>
            <td class="pFouls" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["pFouls"]}}</td>
            <td class="turnovers" style='text-align:center; font-weight:bold'>{{stats["vTeam"]["totals"]["turnovers"]}}</td>
        </tr>
        
    </table>

    <table class="box" class="sortable">
        <tr>
            <th>Name</th>
            <th class="sorttable_nosort">MIN</th>
            <th>PTS</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>REB</th>
            <th>DREB</th>
            <th>OREB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>FOULS</th>
            <th>TO</th>
            <th>+/-</th>
        </tr>
        {% for item in stats["activePlayers"] %}
        {% if item["teamId"] == hID %}
        <tr id='{{item["personId"]}}'>
            <td> {{item["firstName"]}} {{item["lastName"]}}</td>
            <td class="min" style='text-align:center'>{{item["min"]}}</td>
            <td class="points" style='text-align:center'>{{item["points"]}}</td>
            <td class="fgm" style='text-align:center'>{{item["fgm"]}}</td>
            <td class="fga" style='text-align:center'>{{item["fga"]}}</td>
            <td class="fgp" style='text-align:center'>{{item["fgp"]}}</td>
            <td class="tpm" style='text-align:center'>{{item["tpm"]}}</td>
            <td class="tpa" style='text-align:center'>{{item["tpa"]}}</td>
            <td class="tpp" style='text-align:center'>{{item["tpp"]}}</td>
            <td class="totReb" style='text-align:center'>{{item["totReb"]}}</td>
            <td class="defReb" style='text-align:center'>{{item["defReb"]}}</td>
            <td class="offReb" style='text-align:center'>{{item["offReb"]}}</td>
            <td class="assists" style='text-align:center'>{{item["assists"]}}</td>
            <td class="steals" style='text-align:center'>{{item["steals"]}}</td>
            <td class="blocks" style='text-align:center'>{{item["blocks"]}}</td>
            <td class="pFouls" style='text-align:center'>{{item["pFouls"]}}</td>
            <td class="turnovers" style='text-align:center'>{{item["turnovers"]}}</td>
            <td class="plusMinus" style='text-align:center'>{{item["plusMinus"]}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr id='{{hID}}-total'>
            <td style='font-weight:bold'>Totals</td>
            <td></td>
            <td class="points" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["points"]}}</td>
            <td class="fgm" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["fgm"]}}</td>
            <td class="fga" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["fga"]}}</td>
            <td class="fgp" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["fgp"]}}</td>
            <td class="tpm" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["tpm"]}}</td>
            <td class="tpa" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["tpa"]}}</td>
            <td class="tpp" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["tpp"]}}</td>
            <td class="totReb" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["totReb"]}}</td>
            <td class="defReb" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["defReb"]}}</td>
            <td class="offReb" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["offReb"]}}</td>
            <td class="assists" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["assists"]}}</td>
            <td class="steals" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["steals"]}}</td>
            <td class="blocks" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["blocks"]}}</td>
            <td class="pFouls" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["pFouls"]}}</td>
            <td class="turnovers" style='text-align:center; font-weight:bold'>{{stats["hTeam"]["totals"]["turnovers"]}}</td>
        </tr>

    </table>



    {% endblock %}
</body>