<h1>{% block title %} NBA Scoreboard {% endblock %}</h1>

{% block head %}
    
    <script src="{{ url_for('static', filename='get_scoreboard.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        setInterval(function () {
            var datestring = $('#datestring').data().string;
            // AJAX send request
            $.ajax({
                url: "https://data.nba.net/prod/v1/"+datestring+"/scoreboard.json",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    
                    if (data.success) {
                        //location.reload();
                        var game = "";
                    $.each(data.games, function (key, value) {
                        console.log(value); //this outputs response as Objects shown above
                        game += '<div> <h2 class="game">' + value.vTeam.triCode + " " + value.vTeam.score + '</h2> <h2 class="game">' + value.hTeam.triCode + " " + value.hTeam.score + '</h2> </div>  <hr>';
                    });
                    console.log(game)
                    $(".games").html(game);
                        
                    }
                },
                error: function (request, error) { }
            });
        }, 3000);  // check about changes every 30 seconds
    </script>
{% endblock %}

<body>
    <meta id="datestring" data-string="{{datestring}}">
    {% extends 'base.html' %}

    {% block content %}
    
    <div class="games">
    {% for item in scores %}

    <div> 
        <h2 class="game"> {{ item["vTeam"]["triCode"]  }} {{ item["vTeam"]["score"]  }} </h2> 
        <h2 class="game"> {{ item["hTeam"]["triCode"] }} {{ item["hTeam"]["score"] }} </h2> 
        <a href="{{ '/%s/%s'%(datestring, item.gameId) }}">Play-by-Play </a>

    </div> 
    <hr>
        
    {% endfor %}
    </div>
    {% endblock %}
</body>

</html>